/* Add CSS styling here

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} */
/* HTML5 display-role reset for older browsers */
/* article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
} */

/* *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
    border: 1px solid grey;

} */


    /* General styles */
    /* html{
        font-size:62.5%;
    }
    body{
        font-size:1.6rem;
        background-color:hsl(211, 44%, 47%);
        line-height:1.5;
        color:hsl(0, 75%, 65%);
        font-family: 'Source Sans Pro', sans-serif;
        border: 2px soild grey;

    }
    a{
        font-family: 'Source Sans Pro', sans-serif;
        color:#030303;
        text-decoration: none;
    }
    h1, h2, h3{
        font-family: 'Oxygen', sans-serif;
        color:#fc5b05;
    }
    h1{
        color:#fc5b05;
        font-size:5rem;
    }
    h2{
        font-size:3.5rem;
    }
    h3{
        font-size:2rem;
    }
    section{
        padding:4% 0;
    }
    
    body{
        border: 2px solid gray;
    }
    button{
        padding: 10% 20%;
        margin-top: 5%;
        color: white;
        background-color: teal;
        border-radius:40% ;
    }
    

    
    /*Media Query*/

    /* @media(max-width:500px){ */
        /*Header Section Styles*/
        /* nav.main{
            flex-direction: column;
            justify-content: center;
            padding-top: 4%;
            height: 30vh
        }
       .links{
            width:50%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            padding-top: 8%;
            height: ;
        } */

        /*top section*/
        /* #frog, .titles{
           padding: 10%;
           margin-right: 2rem;
           margin-left: 2rem;
           
        }

        .titles{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        } */

            /*gallery styles*/
            
        /* .gallery{
            flex-direction: column;
            flex-wrap: 
           
        }    
         */

    /* } */
    

    nav{
        display: flex;
        justify-content: space-between;
    }
    
    .topsection{
        display: flex;
        justify-content: center;
    }
    .img-button{
        background-image: url(https://images.unsplash.com/photo-1525220120926-2c9ab3ab7bfe?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1588&q=80);
        background-size: cover;
        color: white;
        font-size: large;
        width: 600px;
        height: 400px;
    }

    footer{
        background-color: gray ;
        padding: 20px;
        text-align: center;
    }

    .row{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 20px;
    }
    .portfolio-element{
        text-align: center;
    }

    button{
        background-color: white;
        color: black;
        border:1px solid black;
        padding:5px 10px
    }

    button:hover{
        background-color: black;
        color: white;
        border:1px solid white;
    }

    button a{
        text-decoration: none;
        color: inherit;
    }

    /*media queries*/

    @media(max-width:500px){
        nav{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
           
        }
        .links{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        .row{
            width: ;
            flex-direction: column;
            flex-flow: column wrap;
        }

       
    }



   







   

